.dcc-quote {
    text-align: center;

    width: var(--dcc-quote-width);
    min-width: var(--dcc-min-quote-width);
    max-width: var(--dcc-max-quote-width);

    margin: 0 auto;

    opacity: 1;

    overflow-wrap: break-word;
    word-wrap: break-word;
}

.dcc-quote-text {
    font-size: var(--dcc-quote-font-size);
    font-style: italic;
    line-height: var(--dcc-line-height);

    margin-bottom: 15px;

    white-space: normal;
    overflow-wrap: var(--dcc-word-wrap);
    word-break: normal;
}

.dcc-character {
    font-size: var(--dcc-character-font-size);
    margin-bottom: 5px;
}

.dcc-book {
    font-size: var(--dcc-book-font-size);
    opacity: 0.7;
}